<div class="checkout">
    <h1>Checkout</h1>
    <p class="message-s">{{orderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shipping-address">
            <h3>Add Shipping Address</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel />
                <input class="form-input" type="address" placeholder="Enter Your Address" name="address" ngModel/>
                <input class="form-input" type="text" placeholder="Enter Your Contact Number" name="contact" ngModel/>
                <button class="form-button">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount : {{totalPrice}}</h3>
            <h4>Payment Method : <b>CoD</b></h4>

        </div>
    </div>
</div>
