h1{
    margin-top: 20px;
}
.my-orders{
    margin-top: 50px;
    margin-bottom: 50px;
}

.order-img{
    width:100px;

}

.order-data{
    margin-top:10px ;
    margin-bottom: 10px; 
    padding-bottom: 10px;
    border-bottom:1px solid #ddd
}