.container{
    margin-left: 6%;
}
.product-header-img{
    object-fit: contain;
    height:500px;
    width:100%;
}

.product-list-wrapper{
    margin-top:80px;
    margin-bottom:80px;
}

.product-item {
    
    border: 1px solid #ccc;
    margin-bottom: 40px;
    margin-right: 20px;
}

.product-item img{
    width:100% ;
    height:100%;
    object-fit: contain;
}

.product-details{
    
    border-top: 1px solid #ddd;
   
}




.name-head{
    margin-top:10px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}
.product-item .product-price h6 {
    text-align: center;
}

.product-item .brand h6{ 
    margin-top: 0%;
    text-align: center;
    font-weight: 400;
}

.product-item .product-footer{
    display: flex;
    justify-content: space-evenly;
}


